@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-principal:#8C4C35 ;
    --cor-trimestre:#A68877;
    --cor-branca: #FFFEFE;
    --cor-de-fundo:rgb(241, 235, 226);
    --cor-branca-letras:rgb(241, 235, 226);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color:var(--cor-de-fundo);
}

header{ 
    width: 100%;
    background-color: #8C4C35;
    color: white;
    height: 120px;
    padding: 15px;
}

header h1{
    font-size: 30px;
    font-weight: 400;
}

header p{
    font-size: 15px;
}

.titulo-principal{
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 1px;
}

.titulo-principal h2{
    font-size: 27px;
    margin-bottom: 1px;
    font-weight: 500;
}

.titulo-principal p{
    font-size: 15px;
    color: gray;
    font-weight: 400;
}

.recentes{
    width: 100%;
    margin-bottom: 15px;
    height: 500px;
}

@media screen and (max-width: 837px) {
    #recentes{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
}

.recentes h2{
    font-size: 20px;
    font-weight: 400;
    padding:15px ;
}

.recentes #recentes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6rem;
}

.trimestres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 400px;
    background-color: #FFFEFE;
    border-radius: 25px;
    margin: 10px;
    border: gray;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.card:hover{
    transform: translateY(-10px);
}

.card .card-topo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0px 10px 0px;
    padding: 10px;
}

.card .card-icone{
    background-color: #8C4C35;
    border-radius: 15px;
    width: 50px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-topo img{
    width: 35px;
    height: 35px;
}

.card-materias{
    text-decoration: none;
    color: #000000;  
    padding: 5px;
    border-radius: 10px;  
    background-color: rgb(227, 227, 227);
}

.card h3{
    font-size: 22px;
    padding: 10px 0px 0px 10px;
    color: #000000;
}

.card p{
    font-size:15px ;
    padding: 0px 0px 0px 10px;
    color:  gray;
}

.aviso{
    margin-top: 15px;
    width: 80%;
}

.aviso p{
    font-size: 15px;
}

.materias{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin: 10px 0px 10px 16px;
}

.materias li{
    list-style: none;
}

.materias .bolinha{
    display: inline-block;
    width: 15px;  
    height: 15px; 
    border-radius: 50%;
    background-color:#8C4C35;
    flex-shrink: 0;
}

.materias .aulas{
    position: absolute;
    right: 10px;
}

.card hr{
    position: absolute;
    bottom: 55px;
    right: 5px;
    left: 5px;
    width: 300px;
    margin: 30px auto 0;
    border-top: 1px solid gray;
}

.card .paragrafo-total{
    position: absolute;
    bottom: 20px;
    margin: 7px 5px 0px 15px;
}

.card .total{
    margin-right: 5px;
}
