
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --cor-principal:#8C4C35 ;
  --cor-de-fundo:#8C4C3550;
  --cor-trimestre:#A68877;
  --cor-branca: #FFFEFE;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inria Serif", serif;
  font-weight: lighter;
  background-color: var(--cor-de-fundo);
  overflow: hidden;
}

.navbar{
    display: flex;
    justify-content: center;
    
    font-family: "Inter", sans-serif;
    list-style: none;
    margin: 0px;
}

.navbar li{
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  margin-top: 15px;
  margin-left: 24px;
}

.navbar a {
text-decoration: none;
color: black;
}


h1{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inria", serif;
  font-weight: 400;
  font-size: 50px;
  margin-top: 85px;
}
.trimestre{
  display: flex;
  align-items: center;
  justify-content: center;
}


.osTrimestre{
  width: 300px;
  height: 250px;
  background-color: var(--cor-trimestre);
  margin: 0px 15px 0px 0px;
  border-radius: 25px;
}

.fundoDaCaixaTri{
  width: 90%;
  height: 75%;
  background-color: var(--cor-branca);
  margin: 15px 5px 0px 17px;
  border-radius: 25px;
}
   

