@charset "UTF-8";

body{
    background-color: rgb(40, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    text-align: center;
}

h2{
    padding: 10px;
}

div.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    display: flex;
    justify-items: center;  /* alinhamento - */
    align-items: center;    /* alinhamento |*/
    justify-content: center;
    align-content:center ;


    list-style: none;
    width: 90px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    background-color: gray;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    cursor: pointer;
    background-color: rgb(107, 105, 105);
    color: rgb(0, 0, 0);
}