@charset "UTF-8";

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    text-align: center;
}

div.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    list-style: none;
    width: 90px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    background-color: gray;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

li:hover{
    cursor: pointer;
    background-color: aliceblue;
}