@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(230, 230, 230);
    background-color: rgb(50, 50, 50);
}

h4, h5{
    padding-left: 4px;
    margin-top:0px;
    margin-bottom: 0px;
}

p{
    margin-top: 0px;
    text-align: justify;
    line-height: 1.2;
    padding-left: 4px;
}

table{
    border: 3px solid rgb(179, 179, 179);
    border-collapse: collapse;

}

th, td {
    padding: 7px;
    border: 3px solid rgb(179, 179, 179);
    text-align: center;
}
